@model EasyLeasesDB.Models.Properties

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Properties</h4>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" id="propertyForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertiesId" />
            <input type="hidden" asp-for="FkHomeownersId" />
            <div class="form-group">
                <label asp-for="AvailableDate" class="control-label"></label>
                <input type="date" asp-for="AvailableDate" class="form-control" />
                <span asp-validation-for="AvailableDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyRentAmount" class="control-label"></label>
                <input type="number" asp-for="PropertyRentAmount" class="form-control" />
                <span asp-validation-for="PropertyRentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyAddress" class="control-label"></label>
                <input type="text" asp-for="PropertyAddress" class="form-control" />
                <span asp-validation-for="PropertyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyCity" class="control-label"></label>
                <input asp-for="PropertyCity" class="form-control" />
                <span asp-validation-for="PropertyCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyState" class="control-label"></label>
                <input asp-for="PropertyState" class="form-control" />
                <span asp-validation-for="PropertyState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyZip" class="control-label"></label>
                <input asp-for="PropertyZip" class="form-control" />
                <span asp-validation-for="PropertyZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFloors" class="control-label"></label>
                <input asp-for="PropertyFloors" class="form-control" />
                <span asp-validation-for="PropertyFloors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyBeds" class="control-label"></label>
                <input asp-for="PropertyBeds" class="form-control" />
                <span asp-validation-for="PropertyBeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyBaths" class="control-label"></label>
                <input asp-for="PropertyBaths" class="form-control" />
                <span asp-validation-for="PropertyBaths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyLivingSqFt" class="control-label"></label>
                <input asp-for="PropertyLivingSqFt" class="form-control" />
                <span asp-validation-for="PropertyLivingSqFt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsLeased" class="control-label"></label>
                @Html.DropDownListFor(m => m.IsLeased, new SelectList(
                    new[] {
                        new { Value = "", Text = "Choose" },
                        new { Value = "true", Text = "Yes" },
                        new { Value = "false", Text = "No" },
                    },
                "Value",
                "Text"
                ))
                <span asp-validation-for="IsLeased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="AddEditProperty" id="btnSubmit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
